{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if countWorklab > 0 %}
        <div class="h-screen" id="root">

        </div>
    {% else %}
        <div class="h-screen">
            <h1 class="text-3xl text-center">pas de worklab</h1>
        </div>
    {% endif %}
    {% block javascripts %}
        {{ encore_entry_script_tags('appReact') }}
    {% endblock %}

{% endblock %}
