{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {#    <div class="flex justify-center items-center text-center flex-col p-6 mt-6"> #}
    {#        <h2 class="text-2xl">Vous n'avez aucun espace de travail</h2> #}
    {#        <h3>Cliquez sur le menu de gauche pour en créer un</h3> #}
    {#    </div> #}
{#    {% if globalWorklabList is not empty %}#}
{#        <h1 id="titleActiveWorklab" data-id="{{ globalWorklabList[0].id }}" class="text-3xl mb-6 ms-3">#}
{#            {{ globalWorklabList[0].name }}#}
{#        </h1>#}

{#    {% endif %}#}

{#    h-full#}
    <div class="h-screen" id="root">

    </div>

{#    <script>#}
{#        document.querySelector(ul)#}
{#    </script>#}
    {% block javascripts %}
        {{ encore_entry_script_tags('appReact') }}
    {% endblock %}

{% endblock %}
