@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
.scrollbar{
    padding-right: 5px;
    padding-left: 5px;
}
.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #272727;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #464646;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #464646;
}
.main{

}
.mainContainer{
    height: 80%;
    width: auto;
    overflow-y: hidden;
    overflow-x: auto;

}
.liste{
    height: 100%;
    /*min-width: 100%;*/

}
.headerListe{
    height: auto
}
.bodyListe{
    height: 100%;
}
.bodyListeContainer{
    max-height: 90%;
}
.listeUl{
    height: auto;
}



