{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}
    {% block stylesheets %}
    {% endblock %}
{% block body %}

    <div class="h-screen">
        <h1 class="text-3xl text-center">Accès interdit</h1>
    </div>

{% endblock %}
